# Build Results for pipeline {{context.branch}} at {{start_date}} : {{ build_status job_results }}

{{#each job_results }}
    ## {{this.name}} ({{duration this.start_date this.end_date}}s)
    {{#each this.logs}}
        {{this}}
    {{/each}}

{{/each}}
